/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&family=Poppins:wght@400;500;600&display=swap');*/
@import url('https://png.pngtree.com/thumb_back/fw800/background/20230518/pngtree-group-of-children-are-standing-next-to-a-yellow-school-Flight-image_2573603.jpg');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 75px;
    background: linear-gradient(rgba(255, 255, 255, 0.6), transparent);
    z-index: 100;
}

.nav-logo img {
    width: 18%;
    padding: 10px;

}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

link:hover, .active {
    border-bottom: 2px solid #fff;

}

.nav-button{
    padding-right: 21px;
}

.nav-button .btn {
    width: 130px;
    height: 54px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

#registerBtn {
    margin-left: 15px;

}

.btn.white-button {
    background: #E83C38;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.btn.btn.white-button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 456px;
    height: 555px;
    overflow: hidden;
    z-index: 2;
}

.login-container {
    position: absolute;
    width: 95%;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    
}

.register-container {
    position: absolute;
    right: -600px;
    width: 95%;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;

}

.top span {
    color: #E83C38;
    font-size: large;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.top span a {
    font-weight: 500;
    color: #E83C38;
    margin-left: 5px;
}

header {
    color: #E83C38;
    text-align: center;
    font-size: 30px;
    padding: 10px 0 17px 0;

}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field, select {
    font-size: 15px;
    background: rgba(239, 239, 255, 1);
    color: #000000;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.condition{
    border-color: rgb(209,213,219);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230518/pngtree-group-of-children-are-standing-next-to-a-yellow-school-Flight-image_2573603.jpg);
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    border-radius: 20px;
    margin-right: 3em
}

option {
    color: rgb(0, 0, 0);
}

.input-field:hover, .input-field:focus {
    background: rgba(239, 239, 255, 1);
}



::-webkit-input-placeholder {
    color: rgb(182, 179, 255);
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: rgb(182, 179, 255);
}
.input-field-error {
    border: 2px solid red;
}


.submit {
    font-size: 15px;
    height: 45px;
    width: 100%;
    font-weight: 500;
    color: #5c4545;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #E83C38;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #E83C38;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a{
    text-decoration: none;
    color: #E83C38;

}

.two label a:hover {
    text-decoration: underline;
}

 

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;

    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;

    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);

    }
}

@media only screen and (max-width: 540px){
    .wrapper {
        min-height: 100vh;

    }

    .form-box {
        width: 100%;
        height: 500px;
    }

    .register-container, .login-container {
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms {
        flex-direction: column;
        gap: 0;
    }
}